body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
    background-color: aqua;
}

h2 {
    color: cadetblue;
}

p {
    color: darkolivegreen;
}